body {
    background-color: #2e3440;
    color: #d8dee9;
}

/* search  */
.search-button {
    border-radius: 50%;
    height: 45px;
    width: 45px;
    background-color: #eceff4;
}

.search-bar {
    outline: none;
    background: #eceff4;
}

button:hover {
    background: #4c566a;
}

/* display card */
.card {
    background-color: #3b4252;
    border-radius: 20px;
    color: #d8dee9;
}

.detail-button {
    background-color: #2e3440;
    color: #d8dee9;
}

.detail-button:hover {
    color: #6a758a;
}
